DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/willu_financas
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@localhost:5432/willu_financas
APP_TITLE=Willu - Finanças Pessoais
DEBUG=true
